@using WatchSpace.Models

@model List<Order>


@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "Admin Index";

    List<DateTime> dates = ViewData["Dates"] as List<DateTime>;
    List<int> sales = ViewData["Sales"] as List<int>;

    int[] orderCounts = new int[4];

    var orders = Model.GroupBy(a => a.RefrenceNumber).Select(g => g.First()).ToList();

    orderCounts[0] = orders.Count(o => o.Status == OrderStatus.Pending);
    orderCounts[1] = orders.Count(o => o.Status == OrderStatus.Processing);
    orderCounts[2] = orders.Count(o => o.Status == OrderStatus.OnTheWay);
    orderCounts[3] = orders.Count(o => o.Status == OrderStatus.Delivered);

}



<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="../../node_modules/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="../../node_modules/perfect-scrollbar/dist/css/perfect-scrollbar.min.css" />
    <link rel="stylesheet" href="../../css/style.css" />
    <link rel="shortcut icon" href="../../images/favicon.png" />
</head>


@{

    // Calculate the total sale
    var totalSale = Model.Sum(o => o.Sale_Price * o.PurchasedQuantity);

    // Calculate the total profit
    var totalProfit = Model.Sum(o => (o.Sale_Price - o.Original_Price) * o.PurchasedQuantity);

    // Calculate the total sold items
    var totalSoldItems = Model.Sum(o => o.PurchasedQuantity);

    // Calculate the total number of orders
    //var totalOrders = Model.Count();
    List<string> uniqueReferenceNumbers = Model.Select(o => o.RefrenceNumber).Distinct().ToList();
    int totalOrders = uniqueReferenceNumbers.Count;

}


<div class="container">

    <div class="row py-3 my-3">



        <div class="col-sm-6 col-md-6 col-lg-6 col-12">
            <h2>Dashboard</h2>
        </div>

        <div class="col-sm-6 col-md-6 col-lg-6 col-12 d-flex justify-content-center align-items-center">
            <form asp-controller="Admin" asp-action="ReportSummary">
                <div class="form-group mx-3">

                    <input type="text" name="dateFrom" placeholder="Date From" id="dateFrom" class="form-control" autocomplete="off" />
                </div>


                <div class="form-group mx-3">

                    <input type="text" placeholder="Date To" name="dateTo" id="dateTo" class="form-control" autocomplete="off" />
                </div>

                <div class="form-group mx-3">
                    <button type="submit" class="btn btn-primary btnreportSummary">Search</button>
                </div>
            </form>
        </div>


    </div>

    <div class="row">
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 mb-4">
            <div class="card card-statistics">
                <div class="card-body">
                    <div class="clearfix">
                        <div class="float-left">
                            <h4 class="text-danger">
                                <i class="fa fa-dollar highlight-icon" aria-hidden="true"></i>
                            </h4>
                        </div>
                        <div class="float-right">
                            <p class="card-text text-dark">Profit</p>
                            <h4 class="bold-text">$ @totalProfit</h4>
                        </div>
                    </div>
                    <p class="text-muted">
                        <i class="fa fa-exclamation-circle mr-1" aria-hidden="true"></i> 65% lower growth
                    </p>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 mb-4">
            <div class="card card-statistics">
                <div class="card-body">
                    <div class="clearfix">
                        <div class="float-left">
                            <h4 class="text-warning">
                                <i class="fa fa-shopping-cart highlight-icon" aria-hidden="true"></i>
                            </h4>
                        </div>
                        <div class="float-right">
                            <p class="card-text text-dark">Orders</p>
                            <h4 class="bold-text">@totalOrders</h4>
                        </div>
                    </div>
                    <p class="text-muted">
                        <i class="fa fa-bookmark-o mr-1" aria-hidden="true"></i> Product-wise sales
                    </p>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 mb-4">
            <div class="card card-statistics">
                <div class="card-body">
                    <div class="clearfix">
                        <div class="float-left">
                            <h4 class="text-success">
                                <i class="fa fa-bar-chart-o highlight-icon" aria-hidden="true"></i>
                            </h4>
                        </div>
                        <div class="float-right">
                            <p class="card-text text-dark">Total Items</p>
                            <h4 class="bold-text">@totalSoldItems</h4>
                        </div>
                    </div>
                    <p class="text-muted">
                        <i class="fa fa-calendar mr-1" aria-hidden="true"></i> Weekly Sales
                    </p>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 mb-4">
            <div class="card card-statistics">
                <div class="card-body">
                    <div class="clearfix">
                        <div class="float-left">
                            <h4 class="text-primary">
                                <i class="fa fa-money highlight-icon" aria-hidden="true"></i>
                            </h4>
                        </div>
                        <div class="float-right">
                            <p class="card-text text-dark">Total Sale</p>
                            <h4 class="bold-text">$ @totalSale </h4>
                        </div>
                    </div>
                    <p class="text-muted">
                        <i class="fa fa-repeat mr-1" aria-hidden="true"></i> Just Updated
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div>
    <canvas id="myChart" style="width:100%;max-width:600px"></canvas>
        </div>

    <div>
        <canvas id="myChart1" style="width:100%;max-width:600px"></canvas>
    </div>



</div>



<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>


<script>

    var Dates = @Html.Raw(Json.Serialize(dates));
    var Sales = @Html.Raw(Json.Serialize(sales));

    var dates = Dates.map(date => date.split('T')[0]);

    var xValues = dates ;
    var yValues = Sales ;
    var barColors = ["#90e0ef", "#1cb4e0", "#1cb4e0", "#dc2f02", "#a7c957", "#8338ec"];

    new Chart("myChart", {
        type: "bar",
        data: {
            labels: xValues,
            datasets: [{
                backgroundColor: barColors,
                data: yValues
            }]
        },
        options: {
            legend: { display: false },
            title: {
                display: true,
                text: "Last Week Sale Graph"
            }
        }
    });








    //Pending", "Processing", "OnTheWay", "Delivered

    var orderCounts = @Html.Raw(Json.Serialize(orderCounts));

    // Access the array elements
    var pendingCount = orderCounts[0];
    var processingCount = orderCounts[1];
    var onTheWayCount = orderCounts[2];
    var deliveredCount = orderCounts[3];

    var maxNumber = Math.max(...orderCounts);
    var minNumber = Math.min(...orderCounts)


    var aValues = ["Pending", "Processing", "OnTheWay", "Delivered"];
    var bValues = orderCounts;
    var barColors = ["red", "green", "blue", "orange"];

    new Chart("myChart1", {
        type: "horizontalBar",
        data: {
            labels: aValues,
            datasets: [{
                backgroundColor: barColors,
                data: bValues
            }]
        },
        options: {
            legend: { display: false },
            title: {
                display: true,
                text: "Order Status"
            },
            scales: {
                xAxes: [{ ticks: { min: 0, max: maxNumber+10 } }]
            }
        }
    });

    $(document).ready(function () {
        $('#dateFrom').datepicker({
            uiLibrary: 'bootstrap4',
            format: 'yyyy-mm-dd'
        });

        $('#dateTo').datepicker({
            uiLibrary: 'bootstrap4',
            format: 'yyyy-mm-dd'
        });
    });

</script>




